.professional-container {
    display:flex;
}

.grid {
    width: 100em;
    margin-left: 6em;
    display: inline-block;
    padding-top: 6.7em;
}


h1.grid-header{
    margin-left: 1em;
    font-size:3em;
    display:inline-block;
}

.grid-item {
    float: left;
    width: 13%;
    margin-left:1.25em;
    margin-top:1.25em;
    height: 10em;
    background: #e6e5e4;
    border: 2px solid #b6b5b4;
}

.grid-item-header {
    text-align:center;
    font-size: 1em;
}

.grid-img-item {
    padding-top:5px;
    width: 50%;
    height: 30%;
    margin-left:2em;
}

.grid-description-item{
    font-size:12px;
    padding-top: 13px;
}

.sidebar {
    /* margin-left:5em; */
    display:inline-block;
    width:20em;
}
