<div class='professional-container'>

  <div class="grid">
    <div>
      <h1 class="grid-header">Project Highlights</h1>
    </div>

    <div *ngFor="let project of projects">
    
      <!-- SET UP SO THAT THE ONES THAT HAVE A GIT HUB LINK HAS A CURSOR AND THE ONES THAT DONT HAVE A STOP SIGN OR SOMETHING -->
      <div *ngIf="project.github_link.length >0; else noGithubLink">
        <div class="grid-item" (click)="onProjectClick(project)" appGithubLinkStyle>
          <h1 class='grid-item-header'>{{project.title}}</h1>
          <img class='grid-img-item' src="{{project.imgsrc}}" alt="resume project img">
          <p class='grid-description-item'>{{project.description}}</p>
          <p>Role Position Num of Teammembers</p>
        </div>
      </div>
    
      <ng-template #noGithubLink>
        <div class="grid-item" (click)="onProjectClick(project)">
          <h1 class='grid-item-header'>{{project.title}}</h1>
          <img class='grid-img-item' src="{{project.imgsrc}}" alt="resume project img">
          <p class='grid-description-item'>{{project.description}}</p>
          <p>Role Position Num of Teammembers</p>
        </div>
      </ng-template>
    </div>

  </div>

  <div class="sidebar">
    <div class="softskills">
      <h3>Softskills</h3>
      <p>Empathy, other hootsuite <br>
        values... </p>
    </div>
    <div class="employment">
      <h3>Employment</h3>
      <p>Rousseau Chain ltd<br>
        Jan 2010-2015<br>
        Graphics and Fullstack Development</p>
    </div>
    <div class="education">
      <h3>Education</h3>
      <p>Camosun College <br>
        Jan 2010 to Jan 2012</p>
      <br>
      <p>Coursera - list courses</p>
      <br>
      <p>Teamtreehouse - list stats</p>
      <br>
      <p>Udemy list stats</p>
    </div>
    <div class="skills">
      <h3>Skills</h3>
      <p>Break down skills into subcateries <br>
        and display here in some way<br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt lacus vel urna semper feugiat.
        Aenean condimentum posuere lectus, at.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        tincidunt lacus vel urna semper feugiat. Aenean condimentum posuere lectus, at.Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Phasellus tincidunt lacus vel urna semper feugiat. Aenean condimentum posuere
        lectus, at.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt lacus vel urna semper
        feugiat. Aenean condimentum posuere lectus, at.
      </p>
      <!-- break it down into sub categories-->
    </div>
  </div>

  <div *ngFor="let x of test">
    <p>
      {{x}}
    </p>
  </div>

</div>