.lets-connect {
    text-align: center;
}

h3.footer-header {
    position: relative;
    top: -6.5em;
}

.footer-list {
    text-align: center;
    padding-bottom:1.5em;
    position:relative;
    right:3em;
}

.footer-list div {
    display: inline-block;
}


.printer-icon, .github-icon, .linkedin-icon, .email-icon,.cellphone-icon {
    width: 1em;
}

.email-container {
    position: relative;
    right: 4em;
}

.cellphone-container {
    position:relative;
    left:4em;
}

