
<div class="parent">
    <h2 class="parent-header">Skills</h2>
    <div class="child">
      <h2 class="child-header">Frontend</h2>
      <div>JavaScript* , Angular, React, JQuery,HTML, CSS, SASS, Bootstrap </div>
    </div>
    <div class="child">
      <h2 class="child-header">Backend</h2>
      <div>Node, Express, Firebase, ~Mongo, ~Postgres, ~Knex ,~SQLite ,PHP, ~Python</div>
    </div>
    <div class="child">
      <h2 class="child-header">CMS & SDK & Misc</h2>
      <div>Ionic, Corona SDK, LUA,  Wordpress, ~Blogging, ~SEO, Graphic Design, Adobe XD, Adobe Photoshop, Adobe Illustrator, Adobe Indesign</div>
    </div>
  </div>