<div>
  <div class="left-sidebar">
    <!--Phone and Email Icon-->
    <div class="cell-container">
      <img class="cell-icon" src="/assets/images/icons/cell-white.png" alt="cellphone icon" (click)="showNumber = !showNumber">{{showNumber ? 'hide' : 'show'}}/>
      <p *ngIf="showNumber" style="color:white">1-250-415-5392</p> <br>
    </div>

    <div class="email-container">
      <img class="email-icon" src="/assets/images/icons/email-white.jpg" alt="email icon"  (click)="showEmail = !showEmail">{{showEmail ? 'hide' : 'show'}} />
      <p *ngIf="showEmail" style="color:white">nicholas.zachary@outlook.com</p>
    </div>

    <app-scroller-animation></app-scroller-animation>
  </div>
  

  <div class="intro-text-container">
    <h1 class="intro-header-text">
      Hi, <br>
      I am Nicholas Zachary. <br>
      A full stack developer <br>
      based in Vancouver. <br><br>
      <!-- Hillary look over-->
      Developing robust code for <br>
      fun and adventure. A team <br>
      player with a strong user focus.
    </h1>
  </div>


</div>