<div>
  <div class="left-sidebar"> 
    <!--Phone and Email Icon--> 
    <p style="color:white">PHONE ICON</p> <br>
    <p style="color:white">EMAIL ICON</p>

    <p class="scrollImg">scroll<br> animation</p>
  </div>
  <div class="intro-text-container">
    <h1 class="intro-header-text">
      I am Nicholas Zachary. <br>
      A full stack developer <br>
      based in Vancouver. <br><br>

      Devloping robust code for <br>
      commercial business. A team <br>
      player with a strong user focus.
      
    </h1>

  </div>
</div>

