.intro-container {
    background-color: black;
    width: 100%;
    height: 134vh;
}

div.meet-nick-container {
    width: 100%;
    height: 72vh;
    background-color: #F7F7F7;
}

div.professional {
    width:100%;
    height: 84vh;
    background-color:#F2DBE1;
}

div.footer {
    width: 100%;
    height: 55vh;
    background-color: #A9CEE1;
    display: flex;
    justify-content: center;
}

