/* You can add global styles to this file, and also import other style files */

/* Fixes footer showing the html background at the bottom  */
html {
    background-color: #a9cee1;
}

body {
    margin: 0;
}

* {
    font-family:'Fira Sans','Thasadith','Noto Sans KR','Montserrat', 'sans-serif';
}

/* reset the margins at the top */
p,h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

